.all-cars{
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    background-color: var(--color-grey-light-2);
    padding: 0 2rem;
    @media only screen and (max-width: $bp-small){
        margin-top: 10rem;
    }
    &__content{
        position: relative;
        z-index: 10;
        padding: 0 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: var(--color-grey-light-2);

        @media only screen and (max-width: $bp-small){
            justify-content: center;        
        }
        
        &--more{
            z-index: 1;
            animation-name: showMore;
            animation-duration: 1s;

            &--hide{
                animation-name: hideMore;
                animation-duration: 1s;
            }

        }
    }


    &__item{
        width: 27.5%;
        background: linear-gradient(to right bottom, var(--color-grey-light-1), var(--color-grey-light-3));
        margin-bottom: 5rem;
        border-radius: .3rem;
        overflow: hidden;
        box-shadow: 0 2rem 4rem rgba(black, .1);
        display: flex;
        flex-direction: column;
        align-items: center;

        @media only screen and (max-width: $bp-largest){
            width: 30%;
        }

        @media only screen and (max-width: $bp-medium){
            width: 45%;
        }

        @media only screen and (max-width: $bp-small){
            width: 70%;
        }

        @media only screen and (max-width: $bp-tiny){
            width: 100%;
        }

        &__top{
            width: 100%;
            height: 22.5rem;
            background-image: linear-gradient(to right bottom, rgb(201, 201, 201), rgb(99, 99, 99));
        }

        &__title{
            color: var(--color-grey-dark-1);
            background-color: var(--color-grey-light-1);
            border: 1px solid var(--color-grey-light-3);
            transform: rotate(-3deg) translateY(-2rem);
            width: 110%;
            text-align: center;
            padding: .3rem 2rem;
            font-weight: 400;
        }

        &__list{
            list-style: none;
            padding: 0 4rem;
            font-size: 1.4rem;
            text-align: center;
            width: 100%;
            margin-bottom: 2rem;
            & li{
                padding: .5rem 0;
                &:not(:last-child){
                    border-bottom: var(--line-dark);
                }
            }
        }

        &__button{
            margin-top: auto;
            margin-bottom: 2rem;
        }
    }

    &__button{
        animation-name: opacity;
        animation-duration: 1s;
        align-self: center;
        margin-top: 1rem;
    }
}