/*

.DateInput{
    width: 10rem;
    &_input{
        text-align: center;
        font-size: 1.4rem;
        padding: .3rem 1rem;
    }
}
.DateRangePickerInput_arrow_svg{
    width: 2rem;
    height: 2rem;
}

.CalendarDay{
    width: 2.5rem !important;
    height: 2.5rem !important;
}

.DayPicker_weekHeader_li{
    width: 2.5rem !important;
}
.DayPicker_weekHeader{
    &_ul{
        margin-bottom: .5rem;

    }
    &_1{
        &:last-of-type{
            left: 20rem !important;
        }
    }
}

.CalendarMonth{

    &_table{
        margin-top: .5rem;
    }

    &_caption{
        font-size: 1.4rem !important; 
    }
}

.DayPickerNavigation_button__horizontalDefault{
    & > svg {
        width: 1.4rem !important;
        height: 1.4rem !important;
    }
}

.DayPicker_transitionContainer__horizontal{
    width: initial !important;
    margin: 0 !important;
}

.DayPicker__horizontal{
	width: initial !important;
	& > div > div {
        width: 42rem !important;
	}

}

.DayPicker_transitionContainer__horizontal{
    height: 26rem !important;

}

.DayPicker_transitionContainer__horizonta{
}

.DateRangePicker_picker{
    & * {
        transition: all 0s !important;
        animation: none !important;

    }
}

*/