.most-popular{
    height: 60rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    &::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }

    &__title{
        transform: skewY(2deg);
        padding: 0 4rem;
    }
    &-container{
        position: relative;
        transform: skewY(-2deg);
        margin-top: 15rem;

        @media only screen and (max-width: $bp-small){
            margin-top: 10rem;
        }
    }

    &__item{
        color: var(--color-grey-light-2);
        width: 100%;
        height: 100%;
        transition: all 1s;
        border-bottom: 2px solid white;
        position: relative;
        & > * {
            transform: skewY(2deg);
        }

        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(black, .3);
            opacity: 1;
        }

        &--1{
            background-image: linear-gradient(to right bottom, rgb(190, 145, 61), rgb(143, 107, 40));
            &::after{
                background-color: rgba(black, .5);
            }
        }

        &--2{
            background-image: linear-gradient(to right bottom, rgb(201, 201, 201), rgb(99, 99, 99));
        }

        &--3{
            background-image: linear-gradient(to right bottom, rgb(53, 53, 53), rgb(34, 34, 34));
        }

        &__info{
            background-color: rgba(black, .5);
            width: 40rem;
            height: 100%;
            position: absolute;
            left: 15rem;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            padding: 3rem 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media only screen and (max-width: $bp-medium){
                left: 10rem;
                width: 30rem
            }

            @media only screen and (max-width: $bp-small){
                left: 50%;
                transform: translate(-50%, -50%);
            }
            
            @media only screen and (max-width: $bp-tiny){
                width: 100%;
            }

            & > ul {
                @media only screen and (max-width: $bp-tiny){
                    width: 60%;
                    align-self: center;
                }
            }
            & > * {
                transform: skewY(2deg);
            }

            &__name{
                font-size: 2.2rem;
                font-weight: 300;
                text-align: center;
            }

            &__ver{
                font-size: 1rem;
                letter-spacing: .3rem;
                font-weight: 400;
                margin-top: 0;
                text-align: center;
                margin-top: -.5rem;
                display: block;
            }



            &__rent{
                align-self: center;
            }
        }

    }

    &__pos{
        position: absolute;
        z-index: 10;
        top: 50%;
        transform: translateY(-100%);
        left: 4rem;

        @media only screen and (max-width: $bp-tiny){
            left: 2rem;
        }

        &__item{
            width: 1rem;
            height: 1rem;
            border: 1px solid white;
            border-radius: 50%;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: white;
                opacity: 0;
                transition: all .2s;
            }

            &--visible:after{
                opacity: 1;
            }

            &:not(:first-child){
                margin-top: 1rem;
            }
        }
    }

    &__move-btn{
        &-container{
            position: absolute;
            z-index: 10;
            top: 50%;
            transform: translateY(-100%);
            right: 4rem;
            @media only screen and (max-width: $bp-tiny){
                right: 2rem;
            }
        }
        color: white;
        font-size: 2rem;
        cursor: pointer;

        @media only screen and (max-width: $bp-tiny){
            font-size: 1.5rem;
        }
        &:not(:first-child){
            margin-top: 1rem;
        }
    }
}
