.rent{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    outline: none;
    &__content{
        border-radius: .3rem;
        box-shadow: 0 2rem 4rem rgba(black, .2);
        display: flex;
        border: var(--line-dark);
        animation: opacity .5s;
        position: relative;
        @media only screen and (max-width: $bp-medium-2){
            flex-direction: column;
        }

        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(white, .8);
        }

        &:focus{
            outline: none;
        }
    }

    &__cancel{
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        color: var(--color-grey-dark-3);
        z-index: 101;
        cursor: pointer;
        line-height: 1;
    }
    &__title{
        text-align: center;
        font-weight: 400;
    }

    &__version{
        display: block;
        text-align: center;
        font-size: 1.2rem;
        margin-top: -.5rem;
        letter-spacing: .3rem;
    }

    &__item{
        padding: 2rem 4rem;
        position: relative;
        z-index: 10;
        &--left{
            display: flex;
            flex-direction: column;

            @media only screen and (max-width: $bp-medium-2){
                order: 2;
            }
        }

        &--right{
            background: linear-gradient(to right bottom, rgba(white, .7), rgba(white, .9));

            @media only screen and (max-width: $bp-medium-2){
                background: linear-gradient(to right bottom, rgba(white, .4), rgba(white, .6));
                border-bottom: var(--line-dark);
            }
        }
    }

    &__form{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 1.4rem;
        & label{
            justify-content: space-between;
            display: flex;
            
            &:not(:first-child){
                margin-top: 1rem;
            }

            & span{
                margin-right: 1rem;
            }
        }
    }

    &__list{
        & >li{
            display: flex;
            padding: 2rem 0;
            &:not(:last-child){
                border-bottom: var(--line-dark);
            }

            @media only screen and (max-width: $bp-medium-2){
                padding: 1rem 0;
            }
        }
        &:first-child{
            margin-right: 2rem;
        }

        &--small{
            animation: showMore .5s;
            & > li{
                font-size: 1.2rem;
                padding: .6rem 0;
                &:not(:last-child){
                    border-bottom: 1px solid var(--color-grey-light-5);                    
                }
            }
        }

        &-container{
            margin-top: auto;
            margin-bottom: auto;
            display: flex;
            
            @media only screen and (max-width: $bp-medium-2){
                margin-top: 2rem;
            }
            @media only screen and (max-width: $bp-tiny){
                flex-direction: column;
            }
        }
    }

    &__price{
        &__header{
            display: block;
            font-size: 2rem;
            text-align: center;
        }

        &__label{
            display: flex;
            flex-direction: column;
            align-items: center;

            font-size: 1.4rem;
            display: flex;
            align-items: center;

            & > span{
                margin-bottom: .5rem;
            }
        }

        &__discount{
            margin-top: 2rem;
            padding: 1rem 0;
            align-self: stretch;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.2rem;
            border-top: var(--line-dark);
            border-bottom: var(--line-dark);

            & > button{
                color: var(--color-grey-dark-1);
                background: none;
                border: none;
                padding-bottom: .1rem;
                margin-top: .1rem;
                border-bottom: var(--line-dark);

                &:focus{
                    outline: none;
                }
            }
        }
    }

    &__discounts{
        align-self: stretch;
        display: flex;
        justify-content: space-between;
        border-bottom: var(--line-dark);
    }

    &__info{
        font-size: 1.2rem;

        &--submited{
            margin-top: 1rem;
            color: rgba(var(--color-green), 1);
            border-bottom: 1px solid rgba(var(--color-green), 1);
        }

        &--invalid{
            color: rgba(var(--color-red), 1);
            border-bottom: 1px solid rgba(var(--color-red), 1);
        }
    }

    &__footer{
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}