


$bp-largest: 77.5em; //1240
$bp-large: 71.25em; //1140
$bp-medium: 50em; //800
$bp-medium-2: 43.75em; //700
$bp-small: 37.5em; //600
$bp-tiny: 28.125em; //450
$bp-smallest: 21.875em; //350


:root{
    --color-primary-0: rgb(255, 240, 182);
    --color-primary-1: rgb(247, 232, 174);
    --color-primary-2: rgb(235, 222, 168);
    --color-primary-3: rgb(212, 201, 153);
    --color-primary-3-4: rgb(199, 188, 146);
    --color-primary-4: rgb(175, 167, 129);
    --color-primary-4-5: rgb(129, 122, 93);
    --color-primary-5: rgb(90, 86, 68);
    --color-primary-6: rgb(66, 63, 50);
    --color-primary-7: rgb(43, 41, 32);

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #e9e9e9;
    --color-grey-light-4-5: #e2e2e2;
    --color-grey-light-5: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-1-2: rgb(59, 59, 59);
    --color-grey-dark-2: #444;
    --color-grey-dark-3: #666;
    --color-grey-dark-4: #999;
    --color-grey-dark-5: rgb(173, 173, 173);

    --color-red: 192, 54, 54;
    --color-green: 77, 160, 44;

    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
     
    --line: 1px solid var(--color-grey-light-2);
    --line-dark: 1px solid var(--color-grey-dark-5);
}